.all {
  padding-top: 35px;
  padding-bottom: 45px;
}

.all__title {
  margin-bottom: 42px;
  padding-right: 150px;
  padding-left: 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.all__list {
  height: 570px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
}

.all__item {
  padding: 6px 40px;
  width: 380px;
  min-height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  transition: transform 0.5s linear 0.05s;
}

.all__item:hover {
  transform: scale(1.1);
}

.all__item--top {
  padding-bottom: 34px;
}

.all__item-img1 {
  background-image: url("../img/s2i1.jpg");
  background-size: cover;
  background-position-x: -13px;
}

.all__item-img2 {
  margin-top: 70px;
  background-image: url("../img/s2i2.jpg");
  background-size: cover;
  background-position-y: -10px;
}

.all__item-img3 {
  background-image: url("../img/s2i3.jpg");
  background-size: cover;
  background-position-y: -13px;
}

.all__item-img4 {
  background-image: url("../img/s2i4.jpg");
  background-size: cover;
  background-position-x: -17px;
}

.all__item-img5 {
  background-image: url("../img/s2i5.jpg");
  background-size: cover;
  background-position: 0 -91px;
}

.all__item-img6 {
  background-image: url("../img/s2i6.jpg");
  background-size: cover;
  background-position-y: -30px;
}

.all__item-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}