@import "normalize.css";
@import "default_max.css";
@import "header.css";
@import "game.css";
@import "all.css";
@import "halls.css";
@import "booking.css";
@import "about.css";
@import "feedback.css";
@import "search.css";
@import "contacts.css";