:root {
  --color-background-1: #1B1A1B;
  --color-background-2: #440F51;
  --color-background-3: #FFFFFF;
  --color-text-1: #FFFFFF;
  --color-text-2: #000000;
  --color-text-3: #1C1A1A;
  --color-header: #CD06FF;
  --color-fake-0: #EADEED;
  --color-fake-1: #6C0287;
  --color-fake-2: #640AA3;
  --color-fake-3: #840AA3;





}